div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
section:focus,
div:focus {
	outline: none;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a,button,input {
	transition: all ease-out .3s;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
p {
	margin-top: 1.2em;
	margin-bottom: 1.5em;
}
body {
	font-family: $font_main;
	font-size: 16px;
	line-height: 1.6;
	color: #000;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.2;
	font-weight: 500;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.9rem; }
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
/* Site Header */
.site-header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	.wrapper {
		position: relative;
	}
}
body.home .site-header {
	position: absolute;
}
body.subpage .site-header {
	background: $nblue;
	float: left;
	height: 65px;
	@include tab {
		height: auto;
	}
}

.logo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	@include flexgroup();
	@include flexbox-align-items(center);
	@include flexbox-justify(center);
	a {
		display: inline-block;
		width: 18vw;
		position: relative;
		top: -13%;
		@include tab {
			top: 2%;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}
.logo-subpage {
	position: absolute;
	top: -3px;
    left: 10px;
    width: 78px;
	z-index: 100;
	@include tab {
		width: 100px;
	}
	a,img {
		display: block;
		width: 100%;
		height: auto;
		float: left;
	}
}

/* Navigation */
.main-navigation {
	margin-top: 15px;
	@include tab {
		margin-top: 20px;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	.main-menu-wrap {
		text-align: center;
	}
	ul.menu {
		display: block;
		text-align: left;
		@include tab {
			display: inline-block;
		}
	}
	ul.menu > li {
		display: block;
		float: left;
		width: auto;
		position: relative;
		@include tab {
			display: inline-block;
			margin:2px 3px;
			&:hover {
				ul.sub-menu {
					height: auto;
					padding: 20px 0;
					background-color: #000;
				}
			}
		}
	}
	ul.menu a {
		text-decoration: none;
		display: inline-block;
		color: #FFF;
		font-size: 16px;
		line-height: 1.2;
	}
	ul.menu > li > a {
		@include tab {
			padding: 7px 20px 6px;
			border: 1px solid rgba(255,255,255,0);
		}
	}
	ul.menu > li:hover > a {
		@include tab {
			border-color: rgba(255,255,255,.75);
		}
	}
	ul.sub-menu {
		
		overflow: hidden;
		// width: 100%;
		flex-direction: column;
		margin-bottom: 20px;
		transition: all ease .4s;
		margin: 0;
		@include tab {
			height: 0;
			// width: auto;
			position: absolute;
			top: 100%;
			min-width: 250px;
		}
		// -webkit-box-shadow: 0px 2px 28px 6px rgba(255,255,255,0.96); 
		// box-shadow: 0px 2px 28px 6px rgba(255,255,255,0.96);
		li {
			display: block;
			width: 100%;
			min-width: 200px;
			margin: 0;
			
			@include tab {
				text-align: left;
			}
			a {
				padding: 10px 25px;
				font-size: 18px;

				@include tab { 
					font-size: 16px;
				}
			}
		}
	}
}
body.subpage .main-navigation {
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 12px;
}
// body.subpage .main-navigation {
// 	ul.menu a {
// 		color: #000;
// 	}
// 	ul.menu > li.current-menu-item > a,
// 	ul.menu > li:hover > a {
// 		@include tab {
// 			border-color: rgba(0,0,0,1);
// 		}
// 	}
// }
.menu-toggle, .mobileMenu, .closemenubtn {
	display: none;
}

/* Mobile Menu */
@media screen and (max-width:$tabwidth) {
	body.open-mobile-menu {
		overflow: hidden;
	}
	.site-header {
		animation: none;
		transform: none;
	}
	.closemenubtn {
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		margin: 0 auto 12%;
		&:before, &:after {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			background: #FFF;
			position: absolute;
			top: 0;
			left: 0;
		}
		&:before {
			top: 16px;
			transform: translateY(10px) rotate(45deg);
		}
		&:after {
			top: 36px;
			transform: translateY(-10px) rotate(-45deg);
		}
	}
	.main-navigation {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 30000;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.95);
		margin:0 0;
		&.open {
			display: block;
			animation-duration: .4s;
		}
		.nav-wrap {
			padding: 30px;
			height: 100%;
			overflow: auto;
			@include flexgroup();
			@include flexbox-align-content(center);
		}
		ul.menu a {
			font-size: 24px;
			font-weight: 400;
			display: block;
			padding: 8px 10px;
			text-align: center;
			&:hover {
				color: rgba(255,255,255,.35);
			}
		}
		ul.menu > li > a {
			padding: 12px 10px;
		}
		ul.menu > li {
			display: block;
			width: 100%;
		}
	}
	.mobileMenu {
		display: block;
		width: 100%;
		float: left;
		position: absolute;
		bottom: 5%;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 100;
	}
	.menu-toggle {
		display: block;
		width: 50px;
		height: 40px;
		-webkit-appearance: none;
		outline: none;
		box-shadow: none;
		text-shadow: none;
		border: none;
		span.bar {
			position: relative;
		}
		span.bar, span.bar:before, span.bar:after {
			display: block;
			width: 100%;
			height: 3px;
			background: $primary;
			transition: all ease-in-out .3s;
		}
		span.bar:before, span.bar:after {
			content:"";
			position: absolute;
			left: 0;
		}
		span.bar:before {
			top: -10px;
		}
		span.bar:after {
			top: 10px;
		}
		&.open {
			span.bar {
				background: transparent;
			}
			span.bar:before, span.bar:after {
				background: $primary;
			}
			span.bar:before {
				transform: translateY(10px) rotate(45deg);
			}
			span.bar:after {
				transform: translateY(-10px) rotate(-45deg);
			}
		}
		&.menutoggle1 {
			display: none;
			position: absolute;
			top: 16px;
			right: 20px;
			z-index: 505;
		}
		&.menutoggle2 {
			margin: 0 auto;
			background: transparent;
			span.bar, span.bar:before, span.bar:after {
				background: #FFF;
			}
			&.open {
				span.bar {
					background: transparent;
				}
			}
		}
	}
	body.subpage {
		.menu-toggle.menutoggle1 {
			background: #000;
			display: block;
			top: 14px;
		}
		.menu-toggle {
			span.bar,
			span.bar:before, span.bar:after {
				background-color: #FFF;
			}
		}
		&.open-mobile-menu .menu-toggle.menutoggle1{
			display: none;
		}
	}
	body.subpage .main-navigation ul.menu a {
		color: #FFF!important;
	}
	body.subpage .main-navigation ul.menu > li:hover > a {
		color: rgba(255,255,255,.35)!important;
	}
}
/* end of Mobile Menu */

/* Banner */
.banner {
	width: 100%;
	float: left;
	background: #000;
	position: relative;
	z-index: 20;
	&:before, &:after {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.75;
	}
	&:before {
		z-index: 5;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	}
	&:after {
		background: rgba(0,0,0,.5);
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}

.banner-border {
	width: 100%;
	height: 10px;
	float: left;
	position: relative;
	z-index: 20;
	background: url("images/banner-border.jpg");
	background-position: center;
}
.banner-mirror {
	width: 100%;
	// position: relative;
	// top: 0;
	position: absolute;
	top: 300px;
	float: left;
	left: 0;
	background: #FFF;
	&:before, &:after {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 42%, rgba(255,255,255,0.8) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 42%,rgba(255,255,255,0.8) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 42%,rgba(255,255,255,0.8) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 );
	}
	img {
		width: 100%;
		height: auto;
		float: left;
		transform: scaleY(-1);
		opacity: 0.25;
	}
}
.subpage-banner {
	position: relative;
	width: 100%;
	float: left;
	img {
		width: 100%;
		height: auto;
		float: left;
	}
	.banner-wrap {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: #fff;
		h2 {
			text-transform: uppercase;
			font-weight: bold;
			font-family: 'Poppins', sans-serif;
		}
	}
}
#content {
	width: 100%;
	float: left;
	position: relative;
	z-index: 15;
	.content-area, .site-main {
		width: 100%;
		float: left;
	}
}
.section {
	position: relative;
	.textwrap {
		position: relative;
		z-index: 10;
	}
}
.section.row1 {
	width: 100%;
	float: left;
	padding-top: 70px;
	padding-bottom: 30px;
	.banner-mirror {
		position: absolute;
		top: 0;
		left: 0;
	}
	.textwrap {
		@include mid {
			max-width: 1100px;
			width: 100%;
			margin: 0 auto;
		}
		h2.title {
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
	.buttondiv {
		margin-top: 60px;
		margin-bottom: 80px;
	}
}
.scrolldown {
	.arrowdown {
		text-decoration: none;
		position: relative;
		display: inline-block;
		width: 42px;
		height: 40px;
		overflow: hidden;
		animation: MoveUpDown 1.2s linear infinite;
		&:before, &:after {
			content:"";
			display: block;
			width: 30px;
			height: 1px;
			background: #000;
			position: absolute;
			top: 18px;
			left: 0;
		}
		&:before {
			width: 32px;
			transform: translateX(-6px) rotate(45deg);
		}
		&:after {
			transform: translateX(17px) rotate(-45deg);
		}
	}
	&.no-animate {
		margin-bottom: 30px;
		.arrowdown {
			animation: none;
			top: -33px;
		}
	}
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}
.btn-default {
	text-decoration: none;
	-webkit-appearance: none;
	box-shadow: none;
	border: 1px solid #000;
	background: transparent;
	padding: 10px 25px;
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #000;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:hover {
		color: #FFF;
		&:before {
			transform: scaleX(1);
		}
	}
}

.fsgroup {
	width: 100%;
	float: left;
	padding-bottom: 80px;
	a, .wrap {
		display: block;
		width: 100%;
		float: left;
		position: relative;
	}
	.wrap {
		&:before, &:after {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all ease-out .3s;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0) 97%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 97%);
			background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 97%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
		}
		&:after {
			opacity: 0.8;
		}
	}
	.fsimage {
		width: 100%;
		float: left;
		position: relative;
		margin: 10px 0;
		overflow: hidden;
		transition: all ease-out .3s;
		a {
			&:before {
				content:"";
				display: block;
				width: calc(100% - 30px);
				height: calc(100% - 30px);
				// border: 60px solid rgba(255,255,255,.35);
				box-shadow: 0 0 0 60px rgba(255,255,255,.35);
				position: absolute;
				top: 15px;
				left: 15px;
				transition: all ease-out .3s;
				// transform: translateX(-50%) translateY(-50%);
				// transform: scale(2);
				z-index: 11;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.featimg {
		width: 100%;
		height: auto;
		float: left;
		transition: all ease-out .3s;
	}
	.fslogo {
		position: absolute;
		top: 50%;
		left: 3%;
		transform: translateY(-50%);
		width: auto;
		height: 12vw;
		z-index: 10;
		@include tab {
			height: 8vw;
		}
	}
	.fsimage:hover {
		a:before {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
			box-shadow: 0 0 0 15px rgba(255,255,255,.35);
		}
	}
}
.default .site-main {
	min-height: 30em;
	@include tab {
		min-height: 35em;
	}
	h1.entry-title {
		margin: 0 0 10px;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.3;
		&.careers {
			font-size: 4rem;
		}
	}
}
.maintext {
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.wrapper {
		max-width: 860px;
		width: 100%;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.singlepage .article {
	padding-top: 50px;
	padding-bottom: 50px;
	@include tab {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.featureImgVid {
		margin-top: 30px;
		img {
			max-width: 1000px;
		}
		.embedvideo {
			max-width: 900px;
			width: 100%;
			margin: 0 auto;
			border: 1px solid #000;
			padding: 2px;
		}
		iframe {
			width: 100%!important;
			height: 260px!important;
			float: left;
			@include xs {
				height: 400px!important;
			}
			@include tab {
				height: 500px!important;
			}
			@include mid {
				height: 580px!important;
			}
		}
	}
}
body.single-post {
	.article .wrapper {
		max-width: 1000px;
	}
}
.section.press-articles {
	padding-top: 0;
	padding-bottom: 50px;
	position: relative;
	@include tab {
		padding-bottom: 90px;
	}
	.flexwrap {
		position: relative;
		@include flexgroup-center();
		margin: 0 -15px;
	}
	.news-item {
		display: block;
		position: relative;
		padding: 15px;
		width: 100%;
		@include xs {
			padding: 10px;
			width: 50%;
		}
		@include mid {
			padding: 15px;
			width: 33.3%;
		}
		a {
			display: block;
			width: 100%;
			float: left;
			text-decoration: none;
			position: relative;
			overflow: hidden;
		}
		.photo {
			display: block;
			width: 100%;
			float: left;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: all ease-in-out .3s;
			position: relative;
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
		.title {
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			color: #FFF;
			font-size: 1.1rem;
			line-height: 1.1;
			padding: 40px 10px 10px;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 89%, rgba(0,0,0,0.65) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%,rgba(0,0,0,0.65) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%,rgba(0,0,0,0.65) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		}
	}
	.nophoto {
		background-color: #ececec;
		&:before {
			content:"Photo Coming Soon";
			display: block;
			width: 100%;
			text-align: center;
			font-size: 1rem;
			line-height: 1.2;
			color: #b9b9b9;
			position: absolute;
			top: 40%;
			left: 0;
			transform: translateY(-40%);
		}
		.photo {
			background-color: transparent;
		}
	}
	.play-video {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		text-align:center;
		@include flexgroup-center();
		* {
			transition: all ease-out .3s;
		}
		span {
			display: inline-block;
			width: 80px;
			height: 80px;
			background: rgba(0, 0, 0, 0.65);
			border-radius: 100%;
			text-align: center;
			border: 2px solid #FFF;
			position: relative;
			margin-top: 0;
			@include flexgroup-center();
			@include xs {
				margin-top: -8%;
				transform: scale(0.8);
			}
			@include tab {
				transform: none;
			}
			&:before {
				content:"";
				display: inline-block;
				width: 0;
				height: 0;
				border-left: 25px solid #FFF;
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				position: relative;
				left: 5px;
			}
		}
	}
	a.feat-image:hover {
		.photo {
			transform: scale(1.1);
		}
	}
	a.feat-video:hover {
		.play-video {
			span {
				background: #FF0000;
			}
		}
	}
}
.featured-video {
	margin-top: 50px;
	@include tab {
		margin-top: 80px;
	}
	.embedvideo {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		border: 1px solid #000;
		padding: 2px;
	}
	iframe {
		width: 100%!important;
		height: 260px!important;
		float: left;
		@include xs {
			height: 400px!important;
		}
		@include tab {
			height: 500px!important;
		}
	}
	&.videomp4 {
		.videwrap {
			max-width: 900px;
			width: 100%;
			height: 465px;
			border: 1px solid #000;
			padding: 2px;
			position: relative;
		}
		video {
			width: 100%!important;
			height: 100%!important;
			position: relative;
			z-index: 3;
		}
		.inside {
			position: relative;
			width: 100%!important;
			height: 100%!important;
		}
		.video-thumb {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
		}
		#VidPlay {
			display: block;
			text-decoration: none;
			width: 70px;
			height: 70px;
			margin-top: -1.5%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 10;
			transition: opacity ease-in-out .3s;
			@include flexgroup-center();
			* {
				transition: all ease-in-out .3s;
			}
			span.playBtn {
				display: inline-block;
				width: 70px;
				height: 70px;
				background: rgba(0,0,0,.4);
				border-radius: 100%;
				text-align: center;
				border: 3px solid rgba(255, 255, 255, 0.65);
				position: relative;
				@include flexgroup-center();
				span {
					display: block;
					width: 30px;
					position: relative;
					left: 2px;
					opacity: 0.6;
					i {
						display: block;
						width: 100%;
						height: 3px;
						background: #FFF;
						position: absolute;
						left: 0;
						border-radius: 5px;
						&.b1 {
							top: -7px;
							left: 2px;
							transform: rotate(30deg);
						}
						&.b2 {
							top: 7px;
							left: 2px;
							transform: rotate(-30deg);
						}
						&.b3 {
							top: 0;
							left: -10px;
							transform: rotate(90deg);
						}
					}
				}
			}
			&:hover {
				span.playBtn {
					border-color: rgba(255, 255, 255, 1);
					span {
						opacity: 1;
					}
				}
			}
		}
		&.pause {
			.video-thumb {
				// display: none;
			}
		}
	}
}

.section.team-info {
	position: relative;
	background: #3a3a3a;
	color: #FFF;
	.bg {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		filter: grayscale(100%);
		opacity: 0.1;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.35);
		}
	}
	.section-content {
		position: relative;
		z-index: 10;
	}
	.infobox {
		position: relative;
		@include flexgroup();
		margin: 60px 0;
		@include tab {
			margin: 85px 0;
		}
	}
	.photo {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		@include xs {
			width: 30%;
		}
		@include tab {
			width: 20%;
		}
		div.img {
			width: 100%;
			float: left;
			background-color: #4e4e4e;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
		&.nophoto div.img {
			&:before {
				content:"Photo Coming Soon";
				display: block;
				width: 100%;
				text-align: center;
				font-size: 15px;
				line-height: 1.1;
				color: #717171;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@include xs {
					font-size: 1.8vw;
				}
				@include tab {
					font-size: 15px;
				}
			}
		}
	}
	.text {
		width: 100%;
		@include xs {
			width: 70%;
			padding-left: 20px;
		}
		@include tab {
			padding-left: 30px;
			width: 80%;
		}
	}
	h2.name {
		margin: 0 0 10px;
		font-size: 1.2rem;
		font-weight: 600;
		line-height: 1.2;
	}
	.bio {
		font-size: 15px;
		margin-bottom: 20px;
		@include xs {
			margin-bottom: 30px;
		}
	}
	.more {
		a {
			display: inline-block;
			text-decoration: none;
			font-size: 14px;
			line-height: 1.1;
			border: 1px solid #FFF;
			padding: 6px 20px;
			color: #FFF;
			&:hover {
				background: #000;
			}
		}
	}
}
.single-team {
	.site-main {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.photo {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		position: relative;
		@include xs {
			width: 28%;
			float: left;
		}
		@include tab {
			width: 30%;
		}
		img {
			width: 100%;
			height: auto;
		}
		&.nophoto {
			background: #eaeaea;
			&:before {
				content:"Photo Coming Soon";
				display: block;
				width: 100%;
				text-align: center;
				font-size: 16px;
				line-height: 1.1;
				color: #b5b5b5;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@include xs {
					font-size: 2vw;
				}
				@include tab {
					font-size: 18px;
				}
			}
		}
	}
	.entry-content {
		width: 100%;
		float: left;
		@include xs {
			width: 67%;
			float: right;
		}
		@include tab {
			width: 66%;
		}
	}
}
.entry-content.careers {
	font-size: 20px;
}
/* Pagination */
.pagination {
	margin-top: 15px;
	margin-left: -2px;
	a,span {
		display: inline-block;
		text-decoration: none;
		padding: 8px 10px 6px;
		font-size: 15px;
		line-height: 1;
		margin:2px;
	}
	span {
		background: #000;
		color: #FFF;
	}
	a {
		color: #000;
		background: #dadada;
	}
}

/* Sitemap */
.sitemapMenu {
	text-align: center;
	max-width: 700px;
	width: 100%;
	padding-bottom: 60px;
	.sitemapnav {
		// max-width: 700px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li {
			position: relative;
		}
	}
	ul > li {
		padding-left: 12px;
		margin-bottom: 2px;
		> a:before {
			content:"";
			display: block;
			width: 5px;
			height: 5px;
			background: $primary;
			position: absolute;
			top: 7px;
			left: 0;
			transition: all ease-out .3s;
		}
		ul {
			padding-left: 10px;
		}
		ul li {
			padding-left: 10px;
			> a:before {
				background: transparent;
				border: 1px solid $primary;
				border-radius: 100%;
				width: 3px;
				height: 3px;
				top: 8px;
				transition: all ease-out .3s;
			}
		}
		ul li:hover > a:before {
			border-color: $primary;
			background: transparent;
		}
	}
	ul.menu > li > a:hover:before {
		background: tint($primary,40%);
	}
	ul.menu {		
		@include tab {
			column-count: 2;
		}
		ul a {
			padding: 0 0 0 2px;
		}
	}
	ul.menu > li {
		width: 100%;
		@include tab {
			margin-left: 3%;
			width: 230px;

		}
	}
	a {
		color: $primary;
		text-decoration: none;
		display: inline-block;
		&:hover {
			color: tint($primary,40%);
		}
	}
}
.careers .maintext {
	padding-top: 40px;
    padding-bottom: 30px;
    .entry-content h1:first-child {
		margin: 0 0 10px;
		font-weight: 600;
		line-height: 1.3;
    }
    .entry-content p:last-child {
    	margin-bottom: 0;
    }
	@include tab {
		padding-top: 70px;
    	padding-bottom: 50px;
	}
}
.careers .section.fsgroup {
	.flexwrap {
		margin:0 -10px;
		@include flexgroup();
	}
	.fsgroup-item {
		width: 50%;
		padding: 10px;
	}
	&.columns3 .fsgroup-item {
		@include tab {
			width: 33.3%;
		}
	}
	&.columns4 .fsgroup-item {
		@include tab {
			width: 25%;
		}
	}
	&.columns5 .fsgroup-item {
		@include tab {
			width: 33.3%;
		}
		@include mid {
			width: 20%;
		}
	}
	&.columns6 .fsgroup-item {
		@include tab {
			width: 33.3%;
		}
		@include mid {
			width: 16.666%;
		}
	}
	@media screen and (min-width: $xswidth - 1px) and (max-width: $tabwidth) {
		.fsgroup-item {
			width: 33.3%;
		}
	}
	@media screen and (max-width: $xswidth) {
		.fsgroup-item {
			width: 100%!important;
		}
	}
	img.placeholder {
		width: 100%;
		height: auto;
		float: left;
	}
	.wrap {
		display: block;
		width: 100%;
		float: left;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all ease-in-out .3s;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.55);
		}
		&:after {
			display: none;
		}
	}
	.fslogo {
		height: 30vw;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		@include xs {
			height: 15vw;
		}
		@include tab {
			height: 10vw;
		}
		@include mid {
			height: 5vw;
		}
		@include desk {
			height: 6vw;
		}
		@include xxl {
			height: 88px;
		}
		@media screen and (min-width: $xswidth - 1px) and (max-width: $tabwidth) {
			height: 12vw;
		}
	}
	.fsimage {
		overflow: hidden;
		margin: 0 0;
	}
	.fsimage:hover {
		a:before,a:after {
			display: none;
		}
		.wrap {
			&:before {
				background: rgba(0,0,0,.85);
			}
		}
	}
}
.conceptpage {
	.maintext {
		padding-top: 70px;
    	padding-bottom: 70px;
	}
}
.section.section-concepts {
	padding-bottom: 40px;
	&.private-dining {
		.concept-image {
			.imagediv {
				max-height: 225px;
				&:before {
					height: 0;
				}
			}
	}
	}
	.flexwrap {
		@include flexgroup();
	}
	.concept-info {
		margin-top: 50px;
		margin-bottom: 60px;
		@include tab {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
	.concept-info:first-child {
		margin-top: 0;
	}
	.concept-image {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		@include tab {
			width: 30%;
			margin-bottom: 0;
		}
		.imagediv {
			width: 100%;
			float: left;
			background-size: cover;
			background-color: #CCC;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.35);
				z-index: 2;
			}
		}
		a {
			display: block;
			width: 100%;
			position: relative;
			float: left;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
			position: relative;
		}
		img.xfslogo {
			width: 30vw;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 5;
			@include tab {
				width: 15vw;
			}
			@include mid {
				width: 10vw;
			}
		}
	}
	.concept-text {
		width: 100%;
		@include tab {
			width: 70%;
			padding-left: 30px;
		}
		h2.title {
			margin: 0 0 20px;
			font-size: 1.3rem;
			font-weight: 600;
		}
		.text {
			p:first-child {
				margin-top: 0;
			}
		}
	}
	.sitelink {
		a {
			display: inline-block;
			text-decoration: none;
			font-size: 0.85rem;
			line-height: 1.1;
			color: #333;
			border: 1px solid #000;
			padding: 7px 16px 5px;
			&:hover {
				background: #000;
				color: #FFF;
			}
		}
	}
}

/* Page 404 */
.page404 {
	.site-main {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.text {
		p {
			margin-top: 0;
		}
	}
}
.section-careers-embed {
	.wrapper {
		@include tab {
			margin-top: -80px;
		}
	}
	iframe {
		width: 100%!important;
		height: 100%!important;
		border: none;
		margin: 0 0;
		padding: 0 0;
	}
}

/* Footer */
.site-footer {
	width: 100%;
	float: left;
	background: #000;
	color: #FFF;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		&:hover {
			opacity: 0.65;
		}
	}
	.flexcols {
		@include flexgroup();
		@include flexbox-align-items(center);
		@include flexbox-align-content(center);
	}
	.ft-main-logo img {
		width: 85px;
		height: auto;
		margin: 0 auto;
		@include mid {
			margin: 0 0;
		}
	}
	.col {
		width: 100%;
	}
	.col1 {
		text-align: center;
		@include flexgroup();
		@include flexbox-align-items(center);
		@include mid {
			text-align: left;
			width: 10%;
		}
	}
	.col2 {
		@include mid {
			width: 70%;
		}
	}
	.col3 {
		text-align: center;
		margin-top: 20px;
		@include mid {
			margin-top: 0;
			width: 20%;
			text-align: right;
		}
	}

	.fsgrouplogos {
		.flexwrap {
			// @include flexgroup();
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
		}
		.fsgrplogo {
			padding: 0 25px;
			@include mid {
				padding:10px 16px;
			}
			@include desk {
				padding:10px 25px;
			}
			@media screen and (max-width: 745px) {
				padding:10px 15px;
			}
			@media screen and (max-width: 770px) {
				width: 25%;
			}
			@media screen and (max-width: 380px) {
				width: 33.33%;
			}
			@media screen and (max-width: 300px) {
				width: 50%;
			}
		}
		.fsgrplogo img {
			width: 75px;
			height: auto;
			opacity: 0.55;
			@include mid {
				width: auto;
				height: 50px;
			}
			@media screen and (max-width: 770px) {
				width: 70%;
			}
			@media screen and (max-width: 670px) {
				width: 100%;
			}
			// @media screen and (max-width: 700px) {
			// 	width: 75px;
			// }
		}
	}
}
section.benefits {
	width: 100%;
	padding: 40px;
	text-align: center;
	// background-color: $color-gold;
	background-color: #5d5d5d;
	color: #fff;
	h2 {
		font-size: 40px;
		text-transform: uppercase;
		margin-bottom: 80px;
	}
	.flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
	}
	.benefit {
		padding: 20px;
		font-size: 20px;
		margin: 20px auto;
		background-color: #fff;
		color: #000;
		-webkit-box-shadow: 1px 15px 17px 8px rgba(0,0,0,0.14); 
		box-shadow: 1px 15px 17px 8px rgba(0,0,0,0.14);
		@include mid {
			flex-basis: 30%;
			margin: 0 auto 40px auto;
			margin-bottom: 20px;
		}
		@include desk {
			flex-basis: 22%;
		}
		h3 {
			font-size: 26px;
			text-transform: uppercase;

		}
	}
}
section.car-gallery {
	width: 100%;
	background-color: #eee;
	display: flex;
	padding: 30px 10px;
	@include mid {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.galwrap {
		margin: 0 5px;
		&.three {width: 30%;}
		&.four {width: 22%;}
		&.five {width: 19%;}
		&.six {width: 19%;}
		&.seven {width: 15%;}
		&.eight {width: 14%;}
		&.nine {width: 13%;}
		img {
			width: 100%;
		}
	}
}
section.places {
	background-color: #000;
	padding: 30px 0;
	.flex {
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@include mid {
			
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
		.place-l {
			width: 35%;
			margin: 0 auto 20px auto;
			@include mid {
				width: 10%;
				margin: 0 20px;
			}
			
			img {
				max-width: 100%;
				// height: inherit;
			}
			a {
				display: block;
			}
		}
	}
}
.grid-item { width: 30%; }
.grid-item--width2 { width: 600px; }
#concepts {
	.details {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		.detail {
			width: auto;
			display: inline-block;
			margin-right: 20px;
			color: rgba(#000, .5);
			font-weight: bold;
		}
	}
}
.car-btn {
	width: auto;
	display: inline-block;
	margin: 20px auto;
	a {
		display: block;
		padding: 15px 25px;
		background-color: #b45110;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		transform: scale(1);
		&:hover {
			transform: scale(1.1);
		}
	}
}
section.new-dining {
	
	@include mid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-contents: stretch;
	}
	.d-links {
		background-color: $nblue;
		width: 90%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-contents: center;
		margin: 0 auto 20px auto;
		justify-content: center;
		@include mid {
			width: 28%;
			margin-bottom: 40px;
		}
		&:hover {
			img {
				transform: scale(1);
			}
		}
		img {
			width: 100%;
			transform: scale(.9);
			transition: all ease .3s;
		}
	}
}
.rest-cars {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	.rest-block {
		width: 300px;
		margin: 10px;
		h2 {

		}
	}
}